$background-transparency: rgba(0, 0, 0, 0.2);
$blur-value: 8px;

.top-bar {
  background-color: $background-transparency;
  backdrop-filter: blur($blur-value);
  padding: 4px 0;
  color: #ffe4e4;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1029;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }

  .contact-info {
    display: flex;
    align-items: center;
  }

  &.scrolled {
    background-color: #fdd3d3;

    .contact-link {
      color: #800020;
      &:hover {
        color: black; // You can change this to any color you prefer
      }
    }

    .info-item i {
      color: #800020;
    }

    .social-icons a {
      color: #800020;
    }
  }
}

.contact-link {
  color: inherit;
  transition: color 0.3s ease;
  text-decoration: none;

  &:hover {
    color: #800020; // You can change this to any color you prefer
  }
}

.info-item {
  margin-right: 20px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;

  i {
    margin-right: 5px;
    color: #ffe4e4;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social-icons {
  display: flex;
  align-items: center;

  a {
    color: #ffe4e4;
    margin-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;

    &:hover {
      color: #800020;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .top-bar {
    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5px 15px;
      height: auto;
    }
  }

  .info-item {
    font-size: 12px;
    margin-right: 10px;
  }

  .social-icons {
    a {
      font-size: 14px;
      margin-left: 12px;
    }
  }
}
