<nav
  class="navbar navbar-expand-lg"
  [ngClass]="{ scrolled: isScrolled }"
  [@fadeInOut]
>
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="brand-highlight">D</span>'Creation
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      [attr.aria-expanded]="!isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: !isCollapsed }"
      id="navbarNav"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngFor="let item of navItems">
          <a
            class="nav-link"
            [href]="item.link"
            [ngClass]="{ active: activeLink === item.link }"
          >
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
