<nav class="navbar navbar-expand-lg" [ngClass]="{ scrolled: isScrolled, 'home-page': isHomePage }" [@fadeInOut]>
  <div class="container">
    <a class="navbar-brand" href="#">
      <img *ngIf="!isScrolled" src="https://res.cloudinary.com/dqfwg0the/image/upload/v1740333058/Logo_5_bzcxuq.png"
        alt="D'Creation Logo" height="40" class="brand-logo">
      <img *ngIf="isScrolled" src="https://res.cloudinary.com/dqfwg0the/image/upload/v1740332265/logo_1_u9bofn.png"
        alt="D'Creation Logo Scrolled" height="40" class="brand-logo">
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ show: !isCollapsed }" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngFor="let item of navItems">
          <a class="nav-link" [href]="item.link" [ngClass]="{ active: activeLink === item.link }">
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>